body {
  height: 100vh;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: 4rem auto 3rem;
}

main {
  background-color: black;
  grid-area: 2 /2 /3 /4;
}

header {
  background-color: aquamarine;
  grid-area: 1/2/1/4;
}

aside {
  background-color: bisque;
  grid-area: 1/1/4/2;
}

footer {
  background-color: limegreen;
  grid-area: 3/2/4/4;
}
