@import "modern-normalize.css";

:root {
  --backgroundColor: #fff8f5;
  --fontColor: #000000;
  --accentColor: #bde0fe;
  --accentColorDarker: #a2d2ff;

  /* 
  #FFAFCC
  #CDB4DB
  #FFC8DD
  
  */
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: auto 3rem;
}

main {
  background-color: var(--backgroundColor);
  grid-area: 1 /2 /2 /4;

  display: grid;
  grid-template-columns: auto clamp(10rem, 24rem, 24rem);
}

aside {
  background-color: var(--accentColor);
  grid-area: 1/1/3/2;
}

.project-area {
  border-top: 2px black solid;
  margin-top: 4rem;
  padding-top: 1rem;
}

footer {
  background-color: var(--accentColorDarker);
  grid-area: 2/2/3/4;
}
