@import "modern-normalize.css";

:root {
  --backgroundColor: #947f76;
  --fontColor: #000000;
  --accentColor: #bde0fe;
  --accentColorDarker: #a2d2ff;

  --warningColor: red;
  --inputColor: white;

  /* 
  #FFAFCC
  #CDB4DB
  #FFC8DD
  
  */
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: auto 3rem;
}

main {
  background-color: var(--backgroundColor);
  grid-area: 1 /2 /2 /4;

  display: grid;
  grid-template-columns: auto clamp(10rem, 24rem, 24rem);
}

aside {
  background-color: var(--accentColor);
  grid-area: 1/1/3/2;
}

.project-area {
  border-top: 2px black solid;
  margin-top: 4rem;
  padding-top: 1rem;
}

footer {
  background-color: var(--accentColorDarker);
  grid-area: 2/2/3/4;
}

.fa-trash {
  color: var(--warningColor);
}

.red {
  color: var(--warningColor);
}

#newTodoInput {
  border: black 2px solid;
  border-radius: 9px;
  width: 23rem;
  display: flex;
  flex-direction: row;
  background-color: var(--inputColor);
  justify-content: space-between;

  #create {
    margin-left: 7px;
    border: none;
    width: 16rem;
  }
  div {
    background-color: #a2d2ff;
    margin-right: 7px;

    input {
      border: none;
      padding: none;
      margin: none;
      text-align: center;
    }

    .flag {
      border: none;
    }
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none;
    -webkit-appearance: none; */
  margin: 0;
}
input[type="date"]::-webkit-datetime-edit {
  display: none;
}
